.credentials {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  // justify-content: center;

  &__card {
    background-color: var(--color-grey-dark-4);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    min-width: 100%;
    color: var(--color-grey-dark-2);
    font-size: 1.4rem;
    position: relative;

    &--details {
      list-style: none;
      border: none;
      margin: none;
      line-height: 20px;

      &--item {
        margin: 1rem 0;
      }
    }
  }

  &--span {
    color: var(--color-grey-dark-1);
    text-transform: capitalize;
    font-weight: bold;
  }

  &__delete-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      top: -3px;
    }
  }

  &__icon-delete {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    fill: red;
  }
}
