.landing {
  height: 95vh;
  background-image: linear-gradient(to bottom right, #0e3562cf, #85a3c5cd),
    url("../img/showcase.jpg");
  background-size: cover;
  background-position: top;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__link {
    margin-top: 3rem;
  }
}
