.login,
.signup {
  max-width: 50rem;
  margin: 15rem auto auto auto;
  border: 1px solid #21202039;
  border-radius: 0.3rem;
  padding: 4rem;
  background-color: var(--color-grey-light-2);
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-light);
  margin: 10rem auto auto auto;
  padding: 4rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
  }
}

.dashboard {
  &__text--box {
    margin-bottom: 3rem;
  }

  &__name--link a,
  &__name--link a:active,
  &__name--link a:link {
    text-decoration: none;
    color: #777;
    border-bottom: 2px solid var(--color-primary-light);
    transform: scale(1);

    &:hover {
      color: var(--color-primary-light);
    }
  }
}

.footer {
  padding: 2rem;
  text-align: center;
  // background-color: var(--color-grey-light-1);
}
