@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem =10px, 10px/16px = 62.5%
  font-family: "Montserrat", sans-serif;
}
body {
  color: #777;
  background-color: #e9ebee;
}
